body {
    padding: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif, monospace;
    background-color: rgb(227, 223, 223);
}

button {
    background-color: rgb(76, 188, 76);
    color: white;
    border: 1px solid green;
    margin: 5px;
}
